{% extends "layout.html" %}

{% block content %}
<div class="container container-index">
<div class="row">
  <div class="jumbotron">
    <img src="/images/logo.png" />
    <h1>Select Deployment</h1>
      <a class="btn btn-default btn-lg btn-block btn-primary" href="/env/latest">Latest</a>
      <a class="btn btn-default btn-lg btn-block btn-primary" href="/env/stable">Stable</a>
      <a class="btn btn-default btn-lg btn-block btn-primary" href="/env/ux">UX branch</a>
    </ul>
  </div>

</div>
</div>
{% endblock %}

