{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="row">
  <div class="jumbotron">
    <h1>Select Deployment</h1>
    <ul>
      <li><a class="btn btn-default btn-lg btn-block btn-primary" href="/env/latest">Latest</a></li>
      <li><a class="btn btn-default btn-lg btn-block btn-primary" href="/env/stable">Stable</a></li>
      <li><a class="btn btn-default btn-lg btn-block btn-primary" href="/env/ux">UX branch</a></li>
    </ul>
  </div>

</div>
</div>
{% endblock %}

