<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='/stylesheets/bs.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
{% block nav  %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Firefox Accounts Testing Screenshots</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if env %}
        <li><a href="/env/{{env}}">&#x21c9; {{env}}</a></li>
        {% endif %}
        {% if givenHash %}
        <li><a href="/env/{{env}}/{{givenHash}}">&#x21c9; {{givenHash}}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
-
{% endblock %}
</body>
</html>